mule-dependency-graph-service/src/main/mule/hackathonProject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mmi="http://www.mulesoft.org/schema/mule/mmi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/mmi http://www.mulesoft.org/schema/mule/mmi/current/mule-mmi.xsd">
    <http:listener-config name="hackathonProject-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="hackathonProject-config" api="api/hackathonProject.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mmi:config name="Mule_Maven_Indexer_Config" doc:name="Mule Maven Indexer Config" doc:id="98108d06-53e6-4490-b4f8-6430438199ce" workingDirectory="/tmp/prueba1" >
		<mmi:remote-repository id="mulesoft-public" url="https://repository.mulesoft.org/nexus/content/repositories/public" />
	</mmi:config>
	<flow name="hackathonProject-main">
        <http:listener config-ref="hackathonProject-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hackathonProject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hackathonProject-console">
        <http:listener config-ref="hackathonProject-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hackathonProject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8fc0565b-d339-4b7f-84ae-25eb9d451673">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\index\search:hackathonProject-config">
		<mmi:search doc:name="Search" doc:id="64647088-0e6a-420a-bd16-6518eec18318" config-ref="Mule_Maven_Indexer_Config" artifactId="#[attributes.queryParams.text]"/>
    </flow>
    <flow name="get:\index\status:hackathonProject-config">
        <logger level="INFO" message="get:\index\status:hackathonProject-config" />
    </flow>
    <flow name="get:\index\artifact\(id):hackathonProject-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_id": "strip-ansi",
  "_rev": "49-997ee1918251305c4bb671eaed3742a1",
  name: "strip-ansi",
  description: "Strip ANSI escape codes",
  "dist-tags": {
    latest: "5.0.0"
  },
  versions: {
    "0.1.0": {
      name: "strip-ansi",
      version: "0.1.0",
      description: "Strip ANSI color codes",
      license: "MIT",
      bin: {
        "strip-ansi": "cli.js"
      },
      repository: {
        "type": "git",
        url: "git://github.com/sindresorhus/strip-ansi"
      },
      author: {
        name: "Sindre Sorhus",
        email: "sindresorhus@gmail.com",
        url: "http://sindresorhus.com"
      },
      engines: {
        node: ">=0.8.0"
      },
      scripts: {
        test: "mocha"
      },
      files: [
        "index.js", 
        "cli.js"
      ],
      keywords: [
        "strip", 
        "trim", 
        "remove", 
        "ansi", 
        "styles", 
        "color", 
        "colour", 
        "colors", 
        "terminal", 
        "console", 
        "cli", 
        "string", 
        "tty", 
        "escape", 
        "formatting", 
        "rgb", 
        "256", 
        "shell", 
        "xterm", 
        "log", 
        "logging", 
        "command-line", 
        "text"
      ],
      devDependencies: {
        mocha: "~1.x"
      },
      bugs: {
        url: "https://github.com/sindresorhus/strip-ansi/issues"
      },
      homepage: "https://github.com/sindresorhus/strip-ansi",
      "_id": "strip-ansi@0.1.0",
      dist: {
        shasum: "1bc16b35788d9bdaaf0b9ef0d9e35b0b59403f8e",
        tarball: "https://registry.npmjs.org/strip-ansi/-/strip-ansi-0.1.0.tgz"
      },
      "_from": ".",
      "_npmVersion": "1.3.15",
      "_npmUser": {
        name: "sindresorhus",
        email: "sindresorhus@gmail.com"
      },
      maintainers: [
        {
          name: "sindresorhus",
          email: "sindresorhus@gmail.com"
        }
      ],
      directories: {}
    },
    "5.0.0": {
      name: "strip-ansi",
      version: "5.0.0",
      description: "Strip ANSI escape codes",
      license: "MIT",
      repository: {
        "type": "git",
        url: "git+https://github.com/chalk/strip-ansi.git"
      },
      author: {
        name: "Sindre Sorhus",
        email: "sindresorhus@gmail.com",
        url: "sindresorhus.com"
      },
      engines: {
        node: ">=6"
      },
      scripts: {
        test: "xo && ava"
      },
      keywords: [
        "strip", 
        "trim", 
        "remove", 
        "ansi", 
        "styles", 
        "color", 
        "colour", 
        "colors", 
        "terminal", 
        "console", 
        "string", 
        "tty", 
        "escape", 
        "formatting", 
        "rgb", 
        "256", 
        "shell", 
        "xterm", 
        "log", 
        "logging", 
        "command-line", 
        "text"
      ],
      dependencies: {
        "ansi-regex": "^4.0.0"
      },
      devDependencies: {
        ava: "^0.25.0",
        xo: "^0.23.0"
      },
      gitHead: "dfab6777144e0292c7b4be9969c180025d7d2d97",
      bugs: {
        url: "https://github.com/chalk/strip-ansi/issues"
      },
      homepage: "https://github.com/chalk/strip-ansi#readme",
      "_id": "strip-ansi@5.0.0",
      "_npmVersion": "6.4.1",
      "_nodeVersion": "10.11.0",
      "_npmUser": {
        name: "sindresorhus",
        email: "sindresorhus@gmail.com"
      },
      dist: {
        integrity: "sha512-Uu7gQyZI7J7gn5qLn1Np3G9vcYGTVqB+lFTytnDJv83dd8T22aGH451P3jueT2/QemInJDfxHB5Tde5OzgG1Ow==",
        shasum: "f78f68b5d0866c20b2c9b8c61b5298508dc8756f",
        tarball: "https://registry.npmjs.org/strip-ansi/-/strip-ansi-5.0.0.tgz",
        fileCount: 4,
        unpackedSize: 3412,
        "npm-signature": "-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.4\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJbr9G4CRA9TVsSAnZWagAAQucP/R1vcZ5bj7kPYixt9IeB\nT/gUsBdQ8Q8qxCcSAZSg7im+U8oR5aX84H1wSPKgRKC+QQISmPz+ZKFdQfvP\n9S8A2u8bcblQ7Z1FgPckh3OqqX/tk1m1AnD1NY1munfEYNBhsNwAGyK0jrBd\na/caDWoQ6oZuTt/s4tGomj+Idr/OY1b5CFPgG+8IyxzrjOe+EGKQnN3BtaaS\nonaUce2eTShorppFbz4D3EzKkX8oHP7aAAJtahmOBWhEMees5gG7maFcYEyR\nzvLfmHfWqCudAtJUlrxRa9ofg7WN1drz+xfXNq2O+EWSNowogKMrOkktd6BM\ndFGwg2U8Q+bgBP3I8lKj2Bh0pcm2ZkKwqz1nZNQm3/eBlm6viKjkvAnIw71s\ntjUaz9bvw69himQ4m6D/lEs2SEyw8bu8ZqxEy1OZWlJcp3j6ZeyKqp7BY3W3\nnbSd4XqgYbTRKW+ui7DzKcjOpfQAFMTaD8Lnzj3fVp2bjrhoGNSkmIGbkzZp\nPsQTbrsxMqVyAaJ6WHZnmnpPQODOCI7hZJUDR4U3AFO+vPvi4IZnC6yCJzxO\nViOFuehtQl3G/L9IDctQ2uo1ELsd5M5oguuZrA1HiU0MjjNsqbbV8+HhGCpl\npUuKdGKHVK4VBbortFYOYWmJ9+mJBamLzFXaURBpSp5B3H1tVPiClF396/BA\nEGrL\r\n=IhIN\r\n-----END PGP SIGNATURE-----\r\n"
      },
      maintainers: [
        {
          email: "i.am.qix@gmail.com",
          name: "qix"
        }, 
        {
          email: "sindresorhus@gmail.com",
          name: "sindresorhus"
        }
      ],
      directories: {},
      "_npmOperationalInternal": {
        host: "s3://npm-registry-packages",
        tmp: "tmp/strip-ansi_5.0.0_1538249144142_0.452622585951427"
      },
      "_hasShrinkwrap": false
    }
  },
  readme: "# strip-ansi [![Build Status](https://travis-ci.org/chalk/strip-ansi.svg?branch=master)](https://travis-ci.org/chalk/strip-ansi)\n\n> Strip [ANSI escape codes](https://en.wikipedia.org/wiki/ANSI_escape_code)\n\n---\n\n<div align=\"center\">\n\t<b>\n\t\t<a href=\"https://tidelift.com/subscription/pkg/npm-strip-ansi?utm_source=npm-strip-ansi&utm_medium=referral&utm_campaign=readme\">Get professional support for 'strip-ansi' with a Tidelift subscription</a>\n\t</b>\n\t<br>\n\t<sub>\n\t\tTidelift helps make open source sustainable for maintainers while giving companies<br>assurances about security, maintenance, and licensing for their dependencies.\n\t</sub>\n</div>\n\n---\n\n## Install\n\n```\n\$ npm install strip-ansi\n```\n\n\n## Usage\n\n```js\nconst stripAnsi = require('strip-ansi');\n\nstripAnsi('\u001B[4mUnicorn\u001B[0m');\n//=> 'Unicorn'\n```\n\n\n## Related\n\n- [strip-ansi-cli](https://github.com/chalk/strip-ansi-cli) - CLI for this module\n- [strip-ansi-stream](https://github.com/chalk/strip-ansi-stream) - Streaming version of this module\n- [has-ansi](https://github.com/chalk/has-ansi) - Check if a string has ANSI escape codes\n- [ansi-regex](https://github.com/chalk/ansi-regex) - Regular expression for matching ANSI escape codes\n- [chalk](https://github.com/chalk/chalk) - Terminal string styling done right\n\n\n## Maintainers\n\n- [Sindre Sorhus](https://github.com/sindresorhus)\n- [Josh Junon](https://github.com/qix-)\n\n\n## License\n\nMIT\n",
  maintainers: [
    {
      email: "i.am.qix@gmail.com",
      name: "qix"
    }, 
    {
      email: "sindresorhus@gmail.com",
      name: "sindresorhus"
    }
  ],
  time: {
    modified: "2019-01-05T13:39:05.868Z",
    created: "2013-12-07T23:30:14.926Z",
    "0.1.0": "2013-12-07T23:30:17.673Z",
    "0.1.1": "2013-12-08T00:12:22.401Z",
    "0.2.0": "2014-03-26T15:28:35.327Z",
    "0.2.1": "2014-04-28T10:05:45.285Z",
    "0.2.2": "2014-06-03T17:09:40.794Z",
    "0.3.0": "2014-06-24T19:33:15.394Z",
    "1.0.0": "2014-07-23T22:31:46.786Z",
    "2.0.0": "2014-08-13T13:36:36.745Z",
    "2.0.1": "2015-01-16T18:48:44.952Z",
    "3.0.0": "2015-06-30T16:53:11.137Z",
    "3.0.1": "2016-02-21T12:21:22.998Z",
    "4.0.0": "2017-06-20T19:28:26.510Z",
    "5.0.0": "2018-09-29T19:25:44.295Z"
  },
  author: {
    name: "Sindre Sorhus",
    email: "sindresorhus@gmail.com",
    url: "sindresorhus.com"
  },
  repository: {
    "type": "git",
    url: "git+https://github.com/chalk/strip-ansi.git"
  },
  homepage: "https://github.com/chalk/strip-ansi#readme",
  keywords: [
    "strip", 
    "trim", 
    "remove", 
    "ansi", 
    "styles", 
    "color", 
    "colour", 
    "colors", 
    "terminal", 
    "console", 
    "string", 
    "tty", 
    "escape", 
    "formatting", 
    "rgb", 
    "256", 
    "shell", 
    "xterm", 
    "log", 
    "logging", 
    "command-line", 
    "text"
  ],
  bugs: {
    url: "https://github.com/chalk/strip-ansi/issues"
  },
  license: "MIT",
  readmeFilename: "readme.md",
  users: {
    tunnckocore: true,
    lenage: true,
    recursion_excursion: true,
    scottfreecode: true,
    mojaray2k: true,
    insomniaqc: true,
    kontrax: true,
    usex: true,
    "d-band": true,
    "zhenguo.zhao": true,
    houzhanfeng: true,
    edwardxyt: true,
    soenkekluth: true
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
