mule-dependency-graph-service/src/main/mule/hackathonProject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mmi="http://www.mulesoft.org/schema/mule/mmi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/mmi http://www.mulesoft.org/schema/mule/mmi/current/mule-mmi.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="hackathonProject-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="hackathonProject-config" api="api/hackathonProject.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mmi:config name="Mule_Maven_Indexer_Config" doc:name="Mule Maven Indexer Config" doc:id="98108d06-53e6-4490-b4f8-6430438199ce" workingDirectory="/tmp/prueba1" >
		<mmi:remote-repository id="mulesoft-public" url="https://repository.mulesoft.org/nexus/content/repositories/public" />
	</mmi:config>
	<flow name="hackathonProject-main">
        <http:listener config-ref="hackathonProject-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[output application/java
---
{
	'access-control-allow-headers' : 'X-Requested-With',
	'access-control-allow-origin' : '*'
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hackathonProject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hackathonProject-console">
        <http:listener config-ref="hackathonProject-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hackathonProject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8fc0565b-d339-4b7f-84ae-25eb9d451673">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\index\search:hackathonProject-config">
		<mmi:search doc:name="Search" doc:id="64647088-0e6a-420a-bd16-6518eec18318" config-ref="Mule_Maven_Indexer_Config" artifactId="#[attributes.queryParams.text]" size="#[attributes.queryParams.size]"/>
		<ee:transform doc:name="Transform Message" doc:id="f3e88f09-fbf9-4010-afcf-2402430efa9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	objects: payload map ( payload01 , indexOfPayload01 ) -> {
		package: {
			name: (payload01.groupId default "") ++ ":" ++ (payload01.artifactId default ""),
			version: payload01.version default "",
			description: "Resolved from: " ++ (payload01.repository default ""),
			date: now()
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\index\status:hackathonProject-config">
        <logger level="INFO" message="get:\index\status:hackathonProject-config" />
    </flow>
    <flow name="get:\index\artifact\(id):hackathonProject-config">
		<ee:transform doc:name="Transform Message" doc:id="f74e9809-ae26-4e30-a664-28561a785b4f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
using (gav = attributes.uriParams.id splitBy(":"))
{
	groupId : gav[0],
	artifactId : gav[1],
	version : gav[2]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mmi:resolve-dependencies doc:name="Resolve dependencies" doc:id="ca3f009d-a51d-43c7-a437-af49595a7a65" config-ref="Mule_Maven_Indexer_Config" groupId="#[payload.groupId]" artifactId="#[payload.artifactId]" version="#[payload.version]" target="resolvedDependencies"/>
		<ee:transform doc:name="Transform Message" doc:id="98f5671e-9eee-4ffa-b320-2a817ab9ba7f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: (payload.groupId default "") ++ ":" ++ (payload.artifactId default ""),
	"dist-tags": {
		latest: payload.version default ""
	},
	versions: {
		(payload.version): {
			dependencies : (vars.resolvedDependencies map( artifact , index ) ->
                    (artifact.groupId ++ ":" ++ artifact.artifactId): (artifact.version)
                ) reduce ((env, obj={}) -> obj ++ env)
		}
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
